{%extends 'layout.html' %}
{% block head%}
{%endblock%}


{%block body%}
<div>
  <br>
<h1 style="padding: 1px;border-top: 3px double black; border-bottom : 3px double black; "> Purhcase Order File System</style></h1>
<div id="content-1">

<form action="{{url_for('load_purchase_file_name')}}", method="POST", enctype = "multipart/form-data" >
  <label for="myfile"><h5 style="padding-right: 10px;">Select all purchase order docx files</h5></label>
  <input type="file" id="purchase_order_file" name="purchase_order_file" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document," multiple required><br><br>
  <input  type="submit" value="Submit">
</form>
</div>
</div>
{% endblock%}